@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Ultra&display=swap');


@import "tailwindcss";

h1{
    font-family: "Ultra", serif;
    font-weight: 200;
}
h2{
    font-family: var(--font-heading);
    font-size: 48px;
    font-weight: 800;
}
h3{
    font-family: "Hurricane", cursive;
}

.themeFont{
    font-family: "Mr Dafoe", cursive;
}

:root {
    --font-heading: "Carattere", cursive;
    /* --font-secondary: "Figtree", sans-serif; */
    --color-secondary: #ecc94b;
}