@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Ultra&display=swap');


@import "tailwindcss";

@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/Futura Display.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


h1, .logo{
    /* font-family: "Ultra", serif; */
    font-family: 'CustomFont', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
h2{
    /* font-family: var(--font-heading); */
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
}
/* h3{
    font-family: "Hurricane", cursive;
} */

.themeFont{
    font-family: "Mr Dafoe", cursive;
}

:root {
    --font-heading: "Carattere", cursive;
    /* --font-secondary: "Figtree", sans-serif; */
    --color-secondary: #ecc94b;
}
